@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body, #root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: var(--light-bg-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Quicksand', 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Quicksand', sans-serif;
  --star-color: #C23B22;
  --dark-bg-color: #2e2e2e;
  --light-bg-color: #FDF6EC;
  --primary-color: #8C2E34;
  --secondary-color: #000;
  --order-color: #FDF6EC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
